@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #1f4037, #99f2c8);
    color: #fff;
    padding: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

#locationInput {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: all 0.3s ease;
}

#locationInput:focus {
    box-shadow: 0 0 10px #007BFF;
    outline: none;
}

#searchButton {
    width: 25%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#searchButton:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#location {
    font-size: 22px;
    font-weight: bold;
}

#temperature, #description {
    font-size: 18px;
}

.rain {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.rain div {
    position: absolute;
    bottom: 100%;
    width: 1px;
    height: 90%;
    background: #0cf;
    animation: rain 1s linear infinite;
}

@keyframes rain {
    to {
        transform: translateY(100%);
    }
}

.clear {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ff0;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}